<div id="page_wrapper">

  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hi, It's Me!!</h1>
    <p>Condimentum non justo nulla consequatur habitasse, urna nullam tellus duis euismod nunc nibh, ante pellentesque nisl neque aliquam sit id, dui aliquam fusce. Tortor natoque wisi vitae, enim sed lectus fringilla non. Vestibulum metus risus, massa quisque odit tortor dictum at cursus, mi in fusce at ligula, pariatur quis, pellentesque elementum blandit. Id ac non arcu wisi dolor vestibulum, enim sed vitae sem sed aut diam, orci maecenas turpis sit libero pretium. Mauris maecenas ut quam, aliquet tempor, amet lobortis ut nullam, justo non aliquam felis. Lectus suspendisse vivamus sed phasellus, sodales nec dictum est vitae tincidunt ac, id litora semper orci, sollicitudin elit vivamus, arcu vehicula et in. Et sed leo laoreet accumsan vitae congue, libero libero nunc varius leo, metus accumsan elit sed dictum pellentesque. Sed integer eget sed hendrerit ut. Est sit odio.</p>
  </div>

</div>